@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

body {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Amarante';

}

h1 {
    color: #fff;
    text-align: center;

}

.container {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#addtarefa {
    width: 80%;
    height: 46px;
    border-width: 0;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 9px;

}

#executar {
    height: 50px;
    width: 20%;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: middle;
    font-size: 30px;
}

.texto-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;

}

.to-dos {
    margin-top: 25px;
}

.prancheta {
    width: 360px;
    height: 500px;
    border-radius: 15px;
    background-color: rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addbotoes {
    width: 100%;
    display: flex;
}

.oneof {
    border-radius: 10px;
    width: 100px;
    padding: 1.5vh;
    background-color: rgb(139, 237, 139);
    color: #000000;
}

.twoof {
    border-radius: 10px;
    width: 100px;
    padding: 1.5vh;
    background-color: rgb(244, 79, 79);
    color: #000000;

}
.done{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#taskfeita {
    align-items: center;
    list-style: none;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}